<c-vars variant="accent"></c-vars>
<div
    class="
    flex items-center justify-center rounded-full
    border px-2.5 py-0.5 text-xs font-semibold uppercase
    transition-colors focus:outline-hidden
    focus:ring-2 focus:ring-ring focus:ring-offset-2

    {% if variant == 'default' %}bg-card text-black/80
    {% elif variant == 'accent' %}border-transparent bg-accent/20 text-white hover:bg-accent/40
    {% elif variant == 'primary' %}bg-primary/10 text-primary
    {% elif variant == 'error' %}bg-error/10 text-error
    {% elif variant == 'warning' %}bg-warning/10 text-warning
    {% elif variant == 'success' %}bg-success/10 text-success
    {% endif %}

    {% if class %}
        {{ class }}
    {% endif %}
    "
    {{ attrs }}
>
    {{ slot }}
</div>
