<c-vars variant="default" size="default"></c-vars>
<button
    class="
    flex
    items-center
    justify-center
    gap-2
    whitespace-nowrap
    rounded-full
    text-sm
    text-white
    font-medium
    transition-colors
    focus-visible:outline-hidden
    focus-visible:ring-1
    focus-visible:ring-ring
    disabled:pointer-events-none
    disabled:opacity-50
    [&_svg]:pointer-events-none
    [&_svg]:size-4
    [&_svg]:shrink-0

    {% if variant == 'default' %}bg-primary hover:bg-primary/90
    {% elif variant == 'destructive' %}bg-red-600 text-white shadow-xs hover:bg-red-600/90
    {% elif variant == 'outline' %}border border-border bg-transparent shadow-xs hover:bg-accent
    {% elif variant == 'accent' %}bg-accent shadow-xs hover:bg-accent/80
    {% elif variant == 'ghost' %}hover:bg-accent hover:text-accent-foreground
    {% elif variant == 'link' %}text-primary underline-offset-4 hover:underline
    {% endif %}

    {% if size == 'default' %}h-12 px-4 py-2
    {% elif size == 'icon' %}size-12
    {% endif %}

    {% if class %}
    {{ class }}
    {% endif %}
    "
    {{ attrs }}
>
    {{ slot }}
</button>
